@media (max-width: 414px) {
  .header {
    top: 0;
  }

  .puck1 {
    top: 25vh;
    left: 42vw;
  }

  h1 {
    top: 38vh;
    font-size: 1.2rem;
  }

  input {
    top: 43vh;
    font-size: 1.2rem;
  }

  .links-container {
    top: 55vh;
  }

  .links-container aside .whatsapp {
    left: -15vw;
  }

  .links-container aside .instagram {
    left: 3vw;
  }

  .leitura {
    top: 70vh;
    left: 20vw;
  }
}
